<!DOCTYPE html>
<html  lang = "en"  
       xmlns:th= "http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <h1> Using Variable expression </h1>
   <div>
       <p> User details are as follows: </p>
       <p> Name: <strong th:text = "${userAttribute2.name}"></strong></p>
       <p> Email: <strong th:text = "${userAttribute2.email}"></strong></p>
       <p> Age : <strong th:text = "${userAttribute2.age}"></strong></p>
     
   </div>
   
   
  
   
   
</body>
</html>